@font-face {
	font-family: jav-Handwriting;
	src: url(../assets/fonts/IndieFlower-Regular.ttf);
}

body {
	background-color: #0f0f0a;
}

html,
body {
	height: 100%;
}

.wrapper {
	height: 100%;
	line-height: 1.5;
	word-spacing: 4px;
	letter-spacing: 1px;
}

.fixed-bg {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 60%;
	width: 100%;
	color: #0f0f0a;
	text-align: center;
	display: table;
}

.fixed-bg div>h1 {
	padding:30px;
	margin: 10%;
	padding-right:0px !important;
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.7);
	color: aliceblue;
}

.scroll-bg {
	background-color: #0f0f0a;
	padding: 5px 5px;
	margin: 0px;
	color: #676767;
}

/* first section */

.bg-1 {
	background-image: url('../assets/images/viva.jpg');
}

/* fifth section */

.bg-3 {
	background-image: url('../assets/images/morta2.png');
}

.shadow {
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}

.center {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	position: relative;
	text-align: center;
	color: white;
}

.horizontal {
	display: flex;
}

.horizontal>* {
	flex: 1;
}

.horizontal>p {
	margin: 0;
	font-size: xx-large;
	display: flex;
	padding: 0px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgba(34, 34, 34, 0.3);
	text-shadow: 0 0 10px #000000, 0 0 5px #201e1e
}

.img-container {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(34, 34, 34, 0.3);
}

.livro {
	transition: transform .2s;
}

.livro:hover {
	transform: scale(1.05);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
div {
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

p,
h1 {
	margin-left: 5%;
}

li {
	color: aliceblue;
	font-family: jav-Handwriting;
}

h2,
p {
	color: aliceblue;
	font-family: jav-Handwriting;
}